# Essential

## Frontend
[X] Desarrollo en React
[X] Comunicaciones por WebSocket
[X] Disposición en columnas
[X] Gráficas
[X] Botones
[X] Consola de comandos
[ ] Página de inicio
[ ] Iconos

## Backend
[X] Comuniaciones por WebSocket
[X] Simulador


# Optional

## Frontend
[X] Columnas ajustables
[ ] Animaciones
    [X] Desplazamiento de columans
    [ ] Ocultar columnas
    [ ] Otras Animaciones
    [ ] Mejorar las animaciones (técnica Flip?)
[ ] Barra lateral
[ ] Mejora del CSS (Tailwind? CSS in JS?)
[ ] Configuraciones
[ ] Gadgets
[ ] Limpiar el código
[ ] Documentación del código
[ ] Pruebas unitarias
[ ] Estudio de la UX
[ ] Estudio de la UI
[ ] Limpieza del HTML para mayor accesibilidad
[ ] Controles mediante teclado
[ ] Versión móvil
[ ] Port para desktop
[ ] Port para móvil
[ ] Otras páginas
    [ ] Deformaciones
    [ ] Tickets
    [ ] Calendario
    [ ] Links
    [ ] Cuentas y facturas
[ ] Convertir la app en un service manager con toda la logística del equipo integrada
[ ] Guardar Configuraciones

## Backend
[ ] Órdenes con parametros (sintaxis? Mandar JSONs?)
[ ] Guardar logs


# Attribution
Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a>