.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.page-body {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.content-wrapper {
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    box-sizing: border-box;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2em;
    box-sizing: border-box;
    background-color: #1b181b;
    border-radius: 0.3em;
    padding: 0.7em;
}

.button-selector {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
.button-sector button {
    height: 100%;
}
.button-selector select {
    background-color: rgb(53, 50, 53);
    height: 100%;
    border: none;
    padding: 0.3em;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: scale 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
.button-selector select:hover {
    scale: 1.03;
    outline: none;
    border: none;
}
.button-selector select:focus {
    outline: none;
    animation: fadeOutline 2s forwards;
}
@keyframes fadeOutline {
    0% {
        box-shadow: 0 0 0 2px rgb(255, 255, 255);
    }
    50% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.747);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
    }
}

model-viewer {
    flex: 1;
    width: 100%;
    border: rgb(53, 50, 53) 0.3em solid;
    border-radius: 0.3em;
    box-sizing: border-box;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}
model-viewer {
    width: 100%;
    height: 90%;
}

.progress-bar {
display: block;
width: 33%;
height: 10%;
max-height: 2%;
position: absolute;
left: 50%;
top: 50%;
transform: translate3d(-50%, -50%, 0);
border-radius: 25px;
box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
border: 1px solid rgba(255, 255, 255, 0.9);
background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
visibility: hidden;
transition: visibility 0.3s;
}

.update-bar {
background-color: rgba(255, 255, 255, 0.9);
width: 0%;
height: 100%;
border-radius: 25px;
float: left;
transition: width 0.3s;
}

.content .chart-wrapper {
    box-sizing: border-box;
    flex: 1;
    padding: 1em;
    background-color: rgb(53, 50, 53);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.console-wrapper {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
}